@font-face {
            font-family: 'NEXON Lv1 Gothic OTF';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
@font-face {
            font-family: 'GmarketSansMedium';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

/* ---------- header ---------- */
.header {
    padding: 2vh 0 1vh 0;
    text-align: start;
}

/* 우축 상단 현재 위치, 기온, 날씨, 로그인 */
.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 1.5em 0 0.5em;
}

.top_left a {
    justify-content: start;
    text-decoration-line: none;
    color: dimgrey;
    font-size: 25px;
}

.top_left a:hover {
    color: orange;
}

.top_corner {
    display: flex;
    justify-content: end;
}

.btn_login a {
    text-decoration-line: none;
    color: dimgrey;
}

.btn_login a:hover {
    color: orange;
}

.btn_login {
    margin-left: 3%;
}

.city_temp_wt {
    color: dimgrey;
}

/* 헤더 제목 */
.header h1 {
    color: dimgrey;
    font-weight: 700;
    margin: 4% 4% 2% 4%;
}

/* --------------------- search 바 ------------------------------- */
.search_bar {
    margin: 3% 5% 5% 5%;
}

.search_txt {
    margin: 0 5% 0 5%;
    font-size: 1.2em;
}

.search_txt span {
    color: green;
    font-weight: 900;
}

/* -----------------------검색 곡------------------------- */
.random {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.random_list {
    border: solid gainsboro;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin: 0.5em;
}

.random_list img {
    width: 10em;
    cursor: pointer;
}

.random_song_title {
    font-size: 0.8em;
    font-weight: 900;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 12.5em;
}

.random_artist {
    font-size: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 12.5em;
}

/* ------------------- modal ------------------------ */

.modal-body {
    text-align: center;
}

.modal_song_title {
    text-align: center;
    margin-bottom: 4%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    padding: 0 5% 0 5%;
}

.modal-footer {
    display: grid;
    grid-template-columns: 7fr 1fr;
    text-align: end;
    margin-right: 0.8em;
}

#modal_wt_icon {
    display: block;
    text-align: start;
}

.weather_icon button {
    background-color: white;
    border: none;
    margin: 0.5em;
    border-radius: 50%;
    cursor: pointer;
}

.weather_icon img {
    width: 1.5em;
    height: 1.5em;
}

#modal_player {
    width: 220px;
    height: 35px;
}

/* --------------------footer--------------------- */
.footer {
    margin-top: 5%;
}

.move_btn {
    text-align: center;
}

.move_btn a {
    text-decoration-line: none;
    color: dimgrey;
}

.move_btn a:hover {
    color: orange;
}

.copyright {
    margin-top: 1%;
    color: grey;
    font-size: 0.9em;
    text-align: center;
    padding-bottom: 1em;
}

/* --------------------- 반응형 ------------------------- */
@media all and (max-width: 1024px) {
    .chart {
        margin: 5% 11% 5% 11%;
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media all and (max-width: 992px) {
    .navbar {
        margin: 0;
    }
}

@media all and (max-width: 768px) {
    .navbar {
        margin: 0;
    }
}