<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />

    <script src="{{ url_for('static', filename='js/likeAPI.js') }}"></script>

    <title>title</title>
    <style>
      .wrap {
        width: 100%;
        text-align: center;
      }
      .box {
        display: none;
      }
      .music-box-img {
        width: 300px;
        height: 300px;
      }
      .music-box-title {
        font-weight: bold;
        margin-top: 20px;
      }
      .music-box-artist {
        font-weight: bold;
        margin-bottom: 40px;
      }
      .today-wether-icon {
        margin-bottom: 30px;
      }
      .another-wether-icon {
        margin-top: 30px;
        margin-bottom: 40px;
      }
      .btn01 {
        margin-right: 10px;
      }
      .btn02 {
        margin-left: 10px;
      }
      .hidden {
        display : none;
      }

      .orange{
        background-color: orange;
      }

    </style>
    <script>
      function openclose() {
        let status = $("#music-box").css("display");
        if (status == "block") {
          $("#music-box").hide();
          $("#btn-posting-box").text("추천 받기");
        } else {
          $("#music-box").show();
          $("#btn-posting-box").text("닫기");
        }
      }



      // function weather() {
      //     $.ajax({
      //         type: "GET",
      //         url: "",
      //         data: {},
      //         success: function (response) {
      //             let rows = response[''];
      //             $('#now_local').append(rows);
      //         }
      //     })
      // }
      //
      // function weather() {
      //     $.ajax({
      //         type: "GET",
      //         url: "",
      //         data: {},
      //         success: function (response) {
      //             let rows = response[''];
      //             $('#now_temperature').append(rows);
      //         }
      //     })
      // }
      //
      // function listing() {
      //     $.ajax({
      //         type: "GET",
      //         url: "",
      //         data: {},
      //         success: function (response) {
      //             let rows = response['']
      //             for (let i = 0; i < rows.length; i++) {
      //                 let  = rows[i]['']
      //                 let  = rows[i]['']
      //                 let  = rows[i]['']
      //
      //                 let temp_html = `<div class="music-box-in">
      //                                     <img class="music-box-img" src="${}" alt="Card image cap">
      //                                     <p class="music-box-title">${}</p>
      //                                     <p class="music-box-artist">${}</p>
      //
      //                                 </div>`
      //                $('#music-box').append(temp_html);
      //             }
      //         }
      //     })
      // }
    </script>
  </head>

  <body>
    <span class="username">KSH</span>
    <div class="wrap">
      <div class="weather">
        <h1 class="main-text">오늘의 날씨에</h1>
        <h1 class="main-text">어울리는 음악이 뭐야?</h1>
        <p class="local">위치 : <span id="now_local">서울</span></p>
        <p class="temperature">기온 : <span id="now_temperature">16°C</span></p>
        <button class="Sunny-moveBtn">Sunny</button>
        <button class="Cloudy-moveBtn">Cloudy</button>
        <button class="Rainy-moveBtn">Rainy</button>
        <button class="Snowy-moveBtn">Snowy</button>
        <p class="btn00">
          <a
            onclick="openclose()"
            id="btn-posting-box"
            class="btn btn-dark btn-lg"
            href="#"
            role="button"
            >추천 받기</a
          >
        </p>
      </div>

      <div class="box" id="music-box">
        <div class="music-box-in">
          <img
            class="music-box-img"
            src="https://mountainholic.com/data/file/gallery/1794564802_GrmVxJz4_4f69963f2aec263bf84140cbb0de9d5dd61fc60a.png"
            alt="Card image cap"
          />
          <!-- 좋아요 버튼 누를 시 서버에 곡 정보(이름) 보내기 위해 선택할 태그 (TYPE : POST)-->

          <p id="song-title" class="music-box-title">B</p>
          <p class="artist">2</p>
          <span>오늘의 날씨에는 이런 노래,</span>
          <span class="today-wether-icon">
            <a href="https://www.naver.com/" class="wether-icon-01">좋아요</a>
          </span>
          <div class="another-wether-icon">
            <p>다른 날씨에 더 어울릴까요?</p>
            <a href="https://www.naver.com/" class="wether-icon-02">#흐림</a>
            <a href="https://www.naver.com/" class="wether-icon-03">#비</a>
            <a href="https://www.naver.com/" class="wether-icon-04">#눈</a>
          </div>
        </div>
        <span class="btn01">
          <a
            href="https://music.youtube.com/"
            target="_blank"
            class="btn btn-dark btn-lg active"
            role="button"
            aria-pressed="true"
            >지금 재생</a
          >
        </span>
        <span class="btn02">
          <a
            href="https://music.youtube.com/"
            target="_blank"
            class="btn btn-dark btn-lg active"
            role="button"
            aria-pressed="true"
            >다른 노래 추천</a
          >
        </span>

        <!-- 좋아요 버튼 누를 시 서버에 어떤 버튼을 눌렀는지 정보를 보내기 위해 선택할 태그 (TYPE : POST) -->

          <input id="Sunny-btn" type="button" value="Sunny"></input>
          <span class="Sunny-btn__like">0</span>
          <input id="Cloudy-btn" type="button" value="Cloudy"></input>
          <span class="Cloudy-btn__like">0</span>
          <input id="Rainy-btn" type="button" value="Rainy"></input>
          <span class="Rainy-btn__like">0</span>
          <input id="Snowy-btn" type="button" value="Snowy"></input>
          <span class="Snowy-btn__like">0</span>

      </div>
    </div>
  </body>
</html>