<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/join" method="post">
      <label for="username">
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Username"
        />
      </label>
      <label for="password">
        <input type="password" name="password" id="password" />
      </label>
      <label for="password2">
        <input type="password" name="password2" id="password2" />
      </label>
      <button type="submit">가입하기</button>
    </form>
  </body>
</html>
