<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Local CSS -->
    <link rel="stylesheet" href="../static/css/search.css" />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;600;700;800&family=Jua&family=Noto+Sans+KR:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- bootstrap fas icon을 사용하기 위해 필요 -->
    <script
      src="https://kit.fontawesome.com/a73607bda8.js"
      crossorigin="anonymous"
    ></script>
    <style>
      @font-face {
        font-family: "NEXON Lv1 Gothic OTF";
        src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
          format("woff");
        font-weight: normal;
        font-style: normal;
      }
      @font-face {
        font-family: "GmarketSansMedium";
        src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
          format("woff");
        font-weight: normal;
        font-style: normal;
      }
    </style>
    <title>{{query}} - {{g.title}}</title>
  </head>

  <body>
    <div class="container">
      <header>
        <section class="header">
          <div class="top">
            <div class="top_left">
              <a href="/main"><i class="fas fa-arrow-circle-left"></i></a>
            </div>
            <div class="top_corner">
              <div class="city_temp_wt">
                <p>서울 {{current_temp}}℃ {{current_weather}}</p>
              </div>
              {% if not session.username %}
              <div class="btn_login">
                <a href="/login">로그인</a>
              </div>
              {% endif %} {% if session.username and session.username !=
              "Guest"%}
              <div class="btn_mypage">
                <a href="/user/my-profile">{{session.username}}</a>
              </div>
              {% endif %}
            </div>
          </div>
          <h1><i class="fas fas fa-search"></i> Search</h1>
        </section>
      </header>
      <main>
        <section>
          <div class="search_bar">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="노래 / 아티스트 입력"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
                id="search_input"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  id="button-search"
                >
                  Search
                </button>
              </div>
            </div>
          </div>
          <div class="search_txt">
            <p><span>{{query}}</span>에 대한 검색 결과입니다.</p>
          </div>
          <div class="random">
            {% for song in songs %}
            <div class="random_list" data-track_id="{{song.track_id}}">
              <div class="empty_class">
                <img
                  type="button"
                  data-toggle="modal"
                  data-target="#random_modal"
                  src="{{ song.cover_image }}"
                  art="albumart"
                  class="random_albumart"
                />
              </div>
              <div class="random_list_detail">
                <div class="random_song_title">{{ song["title"] }}</div>
                <div class="random_artist">{{ song["artist"] }}</div>
              </div>
            </div>
            {% endfor %}
          </div>
        </section>
      </main>

      <!------------------------------Modal 부분 ----------------------------->
      <div
        class="modal fade"
        id="random_modal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content song-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">아티스트 이름</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img
                src="https://w.namu.la/s/fab2b1831bae7cfaf08c4c46191c393b500894614ef248831901d607e8ec21a0257b865cb6693fede29553f86bc1a8fabb9dea24d17908651d55b2a7867b541554a3a2a6954d5eca26884f191d6aa30f39512b4afc9ad69178b4b1bf14b1ca8bfee66b06ae21d4123ef5c838b581beb8"
                art="albumart"
                class="modal-albumart"
              />
            </div>
            <div class="modal_song_title">
              노래제목: 제목이 너무 길어서 보기 싫어지면 안되니까 아무말이나
              하하하하하하하하
            </div>
            <div class="modal-footer">
              <div class="weather_icon" id="modal_wt_icon">
                <button type="button" class="weather-likeBtn" value="Sunny">
                  <img src="../static/images/picto_sunny.png" alt="sunny" />
                </button>
                <button type="button" class="weather-likeBtn" value="Cloudy">
                  <img src="../static/images/picto_cloudy.png" alt="cloudy" />
                </button>
                <button type="button" class="weather-likeBtn" value="Rainy">
                  <img src="../static/images/picto_rainy.png" alt="rainy" />
                </button>
                <button type="button" class="weather-likeBtn" value="Snowy">
                  <img src="../static/images/picto_snowy.png" alt="snowy" />
                </button>
              </div>

              <audio controls id="modal_player" src=""></audio>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="move_btn">
          <a href="about.html"
            ><i class="fas fa-compass"></i><span> </span>About us</a
          >
        </div>
        <div class="copyright">
          <p>Copyright ©2022 '오늘의 코딩은 맑음'. All rights reserved.</p>
        </div>
      </footer>
    </div>
    <script>
      const tracks = {{songs|tojson}};
      const random_lists = document.querySelectorAll(".random_list");

      [...random_lists].map((list) =>
        list.addEventListener("click", (event) => openModal(event, tracks))
      );
      function openModal(event, tracks) {
        let { target } = event;
        while (
          target.className !== "random_list"
        ) {
          target = target.parentNode;
        }
        const track_id = target.dataset.track_id;
        const song_content = document.querySelector(".song-content");
        song_content.dataset.track_id = track_id;
        const target_track = tracks.filter(
          ({ track_id: id }) => id === track_id
        );
        let modal_title = document.querySelector(".modal-title");
        modal_title.innerText = target_track[0].artist;
        let modal_song_title = document.querySelector(".modal_song_title");
        modal_song_title.innerText = target_track[0].title;
        let modal_albumart = document.querySelector(".modal-albumart");
        modal_albumart.src = target_track[0].cover_image;
        let modal_preview = document.querySelector("audio");
        modal_preview.src = target_track[0].preview_url;
      }
      const search_input = document.querySelector("#search_input");
      search_input.addEventListener("submit", (e) => e.preventDefault());
      const search_btn = document.querySelector("#button-search");
      search_btn.addEventListener("click", (e) => {
        e.preventDefault();
        if (search_input.value.length === 0) {
          alert("검색어를 입력해주세요.");
        } else {
          query = search_input.value;
          window.location.href = `/main/search?query=${query}`;
        }
      });
    </script>
    <script
      type="module"
      src="{{url_for('static', filename='js/likeBtn.js')}}"
    ></script>
  </body>
</html>
